<%- include('partials/header') %>

<h1>CART</h1>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <%var total = 0;%> <%if(!(cart.error)) {%>
        <div class="p-2"> 
          <h4>Shopping cart</h4>
        </div>
        <!-- single product  -->
        <div id="products-container">
          <%for(var i = 0; i < cart.items.length; i++){%>
          <div
            id="<%=cart.items[i].productId%>"
            class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded"
            style="height: 100%;"
          >
            <div id="product-<%=i+1%>"></div>
            <div class="mr-1">
              <img id="img-<%=i+1%>" class="rounded" src="" width="70" />
            </div>
            <div
              class="d-flex flex-column align-items-center product-details"
            >
              <span id="product-name-<%=i+1%>" class="font-weight-bold"
                >Product name</span
              >
              <div class="d-flex flex-row product-desc">
                <%if(cart.items[i].variant.variation_values.size){%>
                <div class="size mr-1">
                  <span class="text-grey">Size:</span
                  ><span
                    style="color: grey; margin-right: 3px"
                    class="font-weight-bold"
                    style="margin-right: 2px"
                    >&nbsp;<%=cart.items[i].variant.variation_values.size%></span
                  >
                </div>
                <%}%> <%if(cart.items[i].variant.variation_values.color){%>
                <div class="color">
                  <span class="text-grey">Color:</span
                  ><span
                    style="color: grey; margin-right: 3px"
                    class="font-weight-bold"
                    >&nbsp;<%=cart.items[i].variant.variation_values.color%></span
                  >
                </div>
                <%}%> <%if(cart.items[i].variant.variation_values.width){%>
                <div class="color">
                  <span class="text-grey">Width:</span
                  ><span style="color: grey" class="font-weight-bold"
                    >&nbsp;<%=cart.items[i].variant.variation_values.width%></span
                  >
                </div>
                <%}%>
              </div>
            </div>
            <div
              id="quantity-<%=cart.items[i].variant.product_id%>"
              class="d-flex flex-row align-items-center qty"
            >
              <i class="fa fa-minus"></i>
              <h5 id="quantity<%=cart.items[i].productId%>">
                <%=cart.items[i].quantity%>
              </h5>
              <i class="fa fa-plus"></i>
            </div>
            <div style="display: flex">
              <h5>$</h5>
              <h5 id="price<%=cart.items[i].productId%>" class="text-grey">
                <%=cart.items[i].variant.price%>
              </h5>
            </div>
            <div
              id="<%=cart.items[i].variant.product_id%>"
              class="d-flex align-items-center"
            >
              <i class="fa fa-trash mb-1 text-danger"></i>
            </div>
          </div>
          <%total += (cart.items[i].variant.price * cart.items[i].quantity)%>
          <%}%>
        </div>
        <div id="cartTotal">
          <p style="margin-right: 1px">Total: $</p>
          <p id="total"><%=parseFloat(total).toFixed(2)%></p>
          <button
            class="btn btn-warning btn-block btn-lg ml-2 pay-button"
            type="button"
          >
            Proceed to Pay
          </button>
        </div>
        <%}else{%>
        <h5><%=cart.error%></h5>
        <%}%>
      </div>
    </div>
</div>
<div style="position: fixed;
width: 100%;bottom: 0;"><%- include('partials/footer') %>
</div>

<script>



    $(".fa-trash").click(function () {
        var newTotal = $("#total").text();
        const productId = $(this).parent().parent().attr("id");
        const variantId = $(this).parent().attr("id");
        newTotal -=
            $("#price" + productId).text() * $("#quantity" + productId).text();
        $("#total").text(newTotal);
        $(this).parent().parent().remove();
        if($("#total").text() == 0) {
            $("#cartTotal").remove();
            $(".p-2").remove();
            $(".col-md-8").append("<h5> is no cart created for this user</h5>");
        }
            
    fetch("/cart/removeItem", {
        method: "DELETE",
        headers: {
        "Content-Type": "application/json",
        token: sessionStorage.getItem("token"),
        },
        body: JSON.stringify({
        productId: productId,
        variantId: variantId,
        }),
    });
    });

    $(".fa-minus").click(function () {
        const productId = $(this).parent().parent().attr("id");
        const variantId = $(this).parent().attr("id").replace("quantity-", "");
        var qtd = $("#quantity" + productId).html();
        if (qtd > 1) {
            qtd--;
            $("#quantity" + productId).html(qtd);
            const newTotal = $("#total").text() - $("#price" + productId).text();
            $("#total").text(newTotal);
            changeQuantity(qtd, productId, variantId);
        }
    });

    $(".fa-plus").click(function () { 
        const productId = $(this).parent().parent().attr("id");
        const variantId = $(this).parent().attr("id").replace("quantity-", "");
        var qtd = $("#quantity" + productId).html();
        qtd++;
        $("#quantity" + productId).html(qtd);
        var newTotal = parseInt($("#total").text()) + 
        parseInt($("#price" + productId).text());
        $("#total").text(newTotal);
        changeQuantity(qtd, productId, variantId);
    });

    function changeQuantity(qtd, productId, variantId) {
        fetch("/cart/changeItemQuantity", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            token: sessionStorage.getItem("token"),
            },
            body: JSON.stringify({
            productId: productId,
            variantId: variantId,
            quantity: qtd,
            }),
         });
    }

    async function getProductsInfo(){
    const productsLength = $("#products-container").children().length;

    for(var i = 1; i <= productsLength; i++){
        const productId = $("#product-"+i).parent().attr("id");
        const product = await fetch("/getProduct/"+productId, {
        method: "GET",
        });
        const data = await product.json();
        $("#product-name-"+i).html(data[0].name);
        $("#img-"+i).attr("src", "../images/"+data[0].image_groups[1].images[0].link);
    }
}


</script>